*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner{
    height: 100vh;
    width: 100vw;
    background: blueviolet;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 20vh;
    width: 100vw;
}
ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 10px;
}
.over{
    color: gray;
}
ul li {
    list-style: none;
    text-decoration: none;
}
ul li a {
    text-decoration: none;
    margin: 0 2vw;
    font-size: 2.5vw;
    color: white;
}
.nbtn{
   height: 7vh;
   width: 11vw; 
   margin-top: 10px;
   background-color: pink;
   border: 0px solid white ;
   border-radius: 20px;
   background-color: rgb(233, 58, 125);
}
.nhead{
    margin-top: 10px;
    color: white;
}
 
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left{
    height: 74vh;
    width: 30vw;
     
}
.right{
    height: 78vh;
    width: 30vw;
    background-color: white;  
    text-align: center; 
}
.para-1{
    font-size: 2vw;
margin-top: 10px;
color: white;
  
}
.lhead{
margin-bottom: 8vh;
color: white;
}


.rhead{
    margin-top: 5vh;
}
.btn-2{
    height: 7vh;
    width: 12vw; 
    font-size: 2vw;
    text-align: center;
    margin-top: 7px;
    background-color: pink;
    border: 0px solid white ;
    border-radius: 17px;
    margin-top: 5vh;
    background-color: rgb(233, 58, 125);
}

.int-1{
    height: 6vh;
    width: 23vw;
     border: 1px solid black; 
     border-radius: 17px;
     margin-top: 7vh;

}
.int-2{
    height: 6vh;
    width: 23vw;
     border: 1px solid black; 
     border-radius: 17px;
     margin-top: 4vh;
     margin-bottom: 2vh;

}
.sbtn-1{
    height: 6vh;
    width: 20vw;
     border: 1px solid black; 
     border-radius: 17px;
     margin-top: 4vh;
     background-color: rgb(72, 43, 231);
}
.sbtn-2{
    height: 6vh;
    width: 20vw;
     border: 1px solid black; 
     border-radius: 17px;
     margin-top: 4vh;
     background-color: rgb(29, 161, 242);
}
.para-end{
    margin-top: 2vh;
}
span{
    color: rgb(20, 229, 201);
}

@media(max-width:480px){
    ul{
        display: none;
    }
    .nbtn{
        display: none; 
    }
    .nhead{
        text-align: center;
        color: rgb(227, 29, 15);
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .lhead{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .navbar{
        height: 10vh;
        width: 100vw;
    }
    .para-1{
        font-size: 20px;
        margin-top: 0;
    }
    .btn-2{
        height: 30px;
        width: 100px; 
        margin-top: 20px;
    }
    .left{
        height: auto;
        width: auto;  
        margin-left: 15px;
    }
    .right{
        margin-top: 10px;
        width: 250px;
        height: 300px;
        margin-left: 15px;
    }
    .rhead{
        margin-top: 0;
        font-size: 20px;
    }
    .int-1{
        height: 20px;
        width: 120px;
         border: 1px solid black; 
         border-radius: 17px;
         margin-top: 15px;
}
    .int-2{
        height: 20px;
        width: 120px;
         border: 1px solid black; 
         border-radius: 17px;
         margin-top: 15px;
}
    .sbtn-1{
        height: 20px;
        width: 120px;
         border: 1px solid black; 
         border-radius: 17px;
         margin-top: 15px;
}
    .sbtn-2{
        height: 20px;
        width: 120px;
         border: 1px solid black; 
         border-radius: 17px;
         margin-top: 15px;
}
label{
    font-size: 10px;
}
.para-end{
    font-size: 15px;
    margin-top: 20px;
}
}